@import '~@/assets/style/public';
@import '~@/assets/style/mixins';

.jy-badge {
  position: relative;
}

.jy-badge__box {
  position     : absolute;
  top          : 0;
  right        : 0;
  transform    : translateY(-50%) translateX(100%);
  border-radius: 25%;
  display      : inline-block;
  font-size    : 12px;
  height       : 18px;
  line-height  : 18px;
  padding      : 0 6px;
  text-align   : center;
  white-space  : nowrap;

  &.jy-badge__dot {
    width  : 8px;
    height : 8px;
    padding: 0;
  }
}